		</div>
		<footer class="row">
			<div class="span12 text-center">bkmngr by Steffen Tröster 2013</div>
		</footer>
	</div>
	<script type="text/javascript" src="/javascript/bkmngr.js"></script>
</body>
</html>