<!DOCTYPE html>
<html ng-app="bkmngr">
<head>
	<title><%= title %></title>
	<link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
	<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css" />

	<script type="text/javascript" src="/javascript/jquery.min.js"></script>
	<script type="text/javascript" src="/javascript/angular.min.js"></script>
	<script type="text/javascript" src="/javascript/angular-resource.min.js"></script>
	<script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascript/angular-strap.min.js"></script>
</head>
