<nav>
	<ul>
		<li><img src="http://gravatar.com/avatar/<%= user.gravatar%>?s=16" alt="Gravatar">&nbsp;<%= user.username %></li>
		<li><a href="/">Overview</a></li>
		<li><a href="/account">Settings</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
</nav>
