<nav>
	<ul>
		<li>
			<div class="btn-group pull-right">
				<div class="btn" bs-popover="'/templates/add_book_template.html'" data-placement="bottom" data-unique="1" >
					<i class="icon-book"></i> Add book
				</div>
				<div class="btn" bs-popover="'/templates/add_tag_template.html'" data-placement="bottom" data-unique="1">
					<i class="icon-tag"></i> Add tag
				</div>
				<div class="btn"><img src="http://gravatar.com/avatar/<%= user.gravatar%>?s=16" alt="Gravatar">
					&nbsp;
					<%= user.username %> 
				</div>
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/account"><i class="icon-pencil"></i> Edit</a></li>
					<li><a href="/signout"><i class="icon-signout"></i> Signout</a></li>
				</ul>
			</div>
		</li>
		<li>
			<form action="#" class="form-search">
				<div class="input-append dropdown">
					<input type="text" class="span2 search-query" bs-typeahead="typeaheadForBooks" ng-model="search">
					<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
						<li><a href="#"><i class="icon-remove"></i> Clear</a></li>
						<li role="presentation" class="divider"></li>
						<li ng-repeat="tag in tags"><a href="#" ng-click="addToSearchBookTagFilter(tag)">{{tag.title}}</a></li>
					</ul>
					<a type="submit" class="btn" data-toggle="dropdown"><i class="icon-search"></i> Tags <b class="caret"></b></a>
					
				</div>
			</form>
		</li>
	</ul>
</nav>