<form name="popoverForm">
	<p ng-bind-html-unsafe="popover.content"></p>
	<p class="text-warning">{{newBookError}}</p>
	<br />
	<input ng-model="newBook.title" type="text" class="input-large" placeholder="Title" required>
	<input ng-model="newBook.author" type="text" class="input-large" placeholder="Author" required>
	

	<div class="input-append">
		<input ng-model="newBook.isbn" type="text" class="input-medium" placeholder="ISBN">
		<button class="btn" type="button" data-toggle="tooltip" title="fetch data with ISBN" ng-click="fetchDataFromISBN()"><i class="icon-cloud-download"></i></button>
	</div>

	<select ng-model="newBook.tags" multiple title="Tags ..." ng-options="tag.title for tag in tags" data-style="btn-primary" class="input-large" bs-select></select>
	
	<div class="tabbable tabs-below">
		<div class="tab-content">
			<div class="tab-pane " id="upload">
				<input type="file" title="Search file <i class='icon-hdd'></i>" id="bookuploader" class="format">
			</div>
			<div class="tab-pane active" id="link">
				<input ng-model="newBook.url" type="text" class="input-large" placeholder="Book URL">
			</div>
		</div>
		<ul class="nav nav-tabs">
			<li ng-click="formatUploader()"><a href="#upload" data-toggle="tab">Upload</a></li>
			<li class="active"><a href="#link" data-toggle="tab">Link</a></li>
		</ul>
	</div>
	<div class="input-append">
		<input ng-model="newBook.thumbnail" type="text" class="input-small" placeholder="Thumbnail URL" required>
		<img src="{{newBook.thumbnail}}" alt="Thumbnail from URL" title="Thumbnail from URL" class="btn" width="100">
	</div>
	
	
	<div class="form-actions">
		<button type="button" class="btn" ng-click="hide()">Close</button>
		<button class="btn btn-primary" ng-click="saveNewBook();" >Save book</button>
		<img src="/images/ajax-loader.gif" alt="crunching" ng-show="newBookProcess">
	</div>
</form>