<form name="popoverForm" >
	<p ng-bind-html-unsafe="popover.content"></p>
	<p class="text-warning">{{newBookError}}</p>
	<br />
	<input ng-model="newBook.title" type="text" class="input-large" placeholder="Title" required>
	<input ng-model="newBook.author" type="text" class="input-large" placeholder="Author" required>
	

	<div class="input-append">
		<input ng-model="newBook.isbn" type="text" class="input-medium" placeholder="ISBN">
		<button class="btn" type="button" data-toggle="tooltip" title="fetch data with ISBN" ng-click="fetchDataFromISBN()"><i class="icon-cloud-download"></i></button>
	</div>

	<select ng-model="newBook.tags" multiple title="Tags ..." ng-options="tag.title for tag in tags" data-style="btn-primary" class="input-large" bs-select></select>
	
	<input ng-model="newBook.thumbnail" type="text" class="input-large" placeholder="Thumbnail URL" required>
	<input ng-model="newBook.url" type="text" class="input-large" placeholder="Book URL" required>
	<div class="form-actions">
		<button type="button" class="btn" ng-click="hide()">Close</button>
		<button class="btn btn-primary" ng-click="saveNewBook();" >Save book</button>
	</div>
</form>