<% include ../template/header.html.ejs %>
<% include ../template/main_wrap.html.ejs %>
	<div>
		<div ng-repeat="book in books | filter:search" class="span3 well book">
			<div>
				{{book.title}}<br/>
				{{book.author}}<br/>
				<a href="{{book.url}}" target="_blank">Download</a>
			</div>
			<img src="{{book.thumbnail}}"  alt="Thumbnail of {{book.title}}">
			<i class="icon-star-empty pull-right"></i>
		</div>
	</div>
<% include ../template/footer.html.ejs %>