<% include ../template/header.html.ejs %>
<% include ../template/main_wrap.html.ejs %>

	<div ng-controller="ListController">
		<div ng-repeat="book in books" class="span3 well book">
			
			<div>
				{{book.title}}<br/>
				{{book.author}}<br/>
				<a href="{{book.url}}">Download</a>
			</div>
			<img src="{{book.thumbnail}}" alt="">
		</div>
	</div>

<% include ../template/footer.html.ejs %>