<% include ../template/header.html.ejs %>
<% include ../template/main_wrap.html.ejs %>
	<div>
		<div ng-repeat="book in books | filter:search" class="span2 well book">
			<div class="span2">
				<i class="icon-info-sign pull-right" ng-click="showBookInfo(book)"></i>
				<a href="{{book.url}}" target="_blank" ng-show="book.url"><i class="icon-download pull-right"></i></a>
				{{book.title}}<br/>
				<span class="muted">{{book.author}}</span><br/>
				
			</div>
			<img src="/images/thumbnails/{{book._id}}.jpg"  alt="Thumbnail of {{book.title}}">
			<i class="pull-right" ng-click="toggleFavorite(book)" ng-class="{'icon-star': book.favorite, 'icon-star-empty': !book.favorite}"></i>
		</div>
	</div>
<% include ../template/footer.html.ejs %>