<% include ../template/header.html.ejs %>
<body class="signin">
	<div class="container">
		<div class="row">
			<div class="span4">&nbsp;</div>
			<div class="span4 ">
				<div class="well loginwell">
					<div id="logo">bkmngr</div>
					<p class="text-warning"><% if(message){%> <%=message %>  <%}%></p>
					<form id="signupform" action="/signup" method="post">
						<input type="text" name="username" placeholder="Username">
						<input type="email" name="email" placeholder="E-Mail">
						<input type="password" name="password" placeholder="Password">
						<label class="checkbox">
							<input type="checkbox" value="" name="terms">
							I agree with the <a href="#">Terms and Conditions</a>.
						</label>
						<input type="submit" value="Signup" class="btn btn-large btn-block">
						<div class="clearfix"></div>
						<div class="pull-right">or <a href="#" id="signinswitch">Sign in</a></div>
						<div class="clearfix"></div>
					</form>

					<form id="signinform" action="/signin" method="post">
						<input type="text" name="username" placeholder="Username">
						<input type="password" name="password" placeholder="Password">
						<input type="submit" value="Signin" class="btn btn-large btn-block">
						<div class="clearfix"></div>
						<div class="pull-right">or <a href="#" id="signupswitch">Sign up</a></div>
						<div class="clearfix"></div>
					</form>

				</div>
			</div>
			<div class="span4">&nbsp;</div>
		</div>
	</div>
	<script type="text/javascript" src="/javascript/login.js"></script>
</body>
</html>